<section class="inicio" id="inicio">
    <div class="nombre">
        <h2>Bienvenido/a!</h2>
        <h3>Desarrolador Front-End </h3>
    </div>
    <img src="/src/assets/fotoPerfil.jpeg" alt="Foto Perfil">
</section>
<div class="wave">
    <span style="--item:1">S</span>
    <span style="--item:2">O</span>
    <span style="--item:3">B</span>
    <span style="--item:4">R</span>
    <span style="--item:5">E</span>
    <span style="--item:6"> </span>
    <span style="--item:7">M</span>
    <span style="--item:8">Í</span>
</div>
<section class="acercaDeMi" id="acercaDeMi">
    <p>Hola me llamo <strong>Nicolás Ramirez</strong> y soy un amante de la tecnología, tanto de hardware como
        software.</p>
    <p>Estoy estudiando y realizando cursos de desarrollo web. Y estoy muy motivado para continuar es te mundo
        tan lindo de la programación.</p>
    <p>Estoy en búsqueda de nuevos desafios y experiencias que me ayuden a seguir mejorando mis hablidades.</p>
</section>
