<section class="portafolio" id="portafolio">
    <div class="wave">
        <span style="--item:1">P</span>
        <span style="--item:2">O</span>
        <span style="--item:3">R</span>
        <span style="--item:4">T</span>
        <span style="--item:5">A</span>
        <span style="--item:6">F</span>
        <span style="--item:7">O</span>
        <span style="--item:8">L</span>
        <span style="--item:9">I</span>
        <span style="--item:10">O</span>
    </div>
    <div class="sectionPortafolio">
        <div class="proyecto scroll-content fadeRight">
            <a href="https://smash-burguer.vercel.app/" target="_blank"><img src="./assets/smashBurguer.png"
                    alt="Smash Burguer"></a>
            <div class="descripcion">
                <h4>Sitio Web de ventas de Hamburguesas. Hecho con
                    HTML, CSS, SASS, JavaScript y Bootstrap. </h4>
                <div class="contactoProyectos">
                    <a href="https://smash-burguer.vercel.app/" target="_blank"><button class="btn"> Ver
                            sitio</button></a>
                    <a href="https://github.com/ramiireznicolas/smash-burguer" target="_blank"><button class="btn">Ver codigo</button></a>
                </div>
            </div>
        </div>

        <div class="proyecto scroll-content fadeLeft">
            <a href="https://billetera-santa-fe.vercel.app/"><img src="./assets/billeteraSantaFe.jpg"
                    alt="Billetera SantaFe"></a>
            <div class="descripcion">
                <h4>Sitio similar a una billetera que se utiliza en la provincia de Santa Fe. Hecho con HTML,
                    CSS, SASS y
                    JavaScript.</h4>
                <div class="contactoProyectos">
                    <a href="https://billetera-santa-fe.vercel.app/" target="_blank"><button class="btn"> Ver
                            sitio</button></a>
                    <a href="https://github.com/ramiireznicolas/billetera-santa-fe" target="_blank"><button class="btn">Ver codigo</button></a>
                </div>
            </div>
        </div>

        <div class="proyecto scroll-content fadeRight">
            <a href="https://marvel-git-main-ramiireznicolas.vercel.app/"><img src="./assets/marvel.png"
                    alt="Marvel"></a>
            <div class="descripcion">
                <h4>Página creada para ver series y peliculas de Marvel. Hecho con
                    HTML, CSS, SASS, JavaScript y Bootstrap. </h4>
                <div class="contactoProyectos">
                    <a href="https://marvel-git-main-ramiireznicolas.vercel.app/" target="_blank"><button
                            class="btn"> Ver sitio</button></a>
                    <a href="https://github.com/ramiireznicolas/Marvel" target="_blank"><button class="btn">Ver codigo</button></a>
                </div>
            </div>
        </div>
    </div>

    <details class="scroll-content fadeLeft">
        <summary>Desafios de FreeCodeCamp</summary>
        <div class="challenge">
            <div class="desafios">
                <a href="https://desafio-free-code-camp-pag-tributo.vercel.app/" target="_blank"><img
                        src="./assets/Pag-tributo.jpeg" alt="Pagina Tributo"></a>
                <a href="https://desafio-free-code-camp-pag-tributo.vercel.app/" target="_blank">Pagina
                    Tributo</a>
            </div>
            <div class="desafios">
                <a href="https://desafio-free-code-camp-formulario.vercel.app/" target="_blank"><img
                        src="./assets/formulario-freeCodeCamp.jpeg" alt="Formulario"></a>
                <a href="https://desafio-free-code-camp-formulario.vercel.app/" target="_blank">Formulario</a>
            </div>
            <div class="desafios">
                <a href="https://desafio-freecodecamp-documentacion-tecnica.vercel.app/" target="_blank"><img
                        src="./assets/doc-tecnica.jpeg" alt="Documentacion tecnica"></a>
                <a href="https://desafio-freecodecamp-documentacion-tecnica.vercel.app/"
                    target="_blank">Documentación técnica JS</a>
            </div>
        </div>
    </details>

    <details class="scroll-content fadeLeft">
        <summary>Desafios de NUCBA</summary>
        <div class="challenge">
            <div class="desafios">
                <a href="https://challenge-1-pop-ups.vercel.app/" target="_blank"><img
                        src="./assets/Pop-Ups.jpeg" alt="Pop Ups"></a>
                <a href="https://challenge-1-pop-ups.vercel.app/" target="_blank">Pop Ups</a>
            </div>
            <div class="desafios">
                <a href="https://challenge-2-feedback-pop-ups.vercel.app/" target="_blank"><img
                        src="./assets/feedback-pop-ups.jpeg" alt="Feedback Pop Ups"></a>
                <a href="https://challenge-2-feedback-pop-ups.vercel.app/" target="_blank">Feedback Pop Ups</a>
            </div>
            <div class="desafios">
                <a href="https://challenge-3-card-modal.vercel.app/" target="_blank"><img
                        src="./assets/card-modal.jpeg" alt="Card modal"></a>
                <a href="https://challenge-3-card-modal.vercel.app/" target="_blank">Card Modal</a>
            </div>
            <div class="desafios">
                <a href="https://challenge-4-user-profile.vercel.app/" target="_blank"><img
                        src="./assets/user-profile.jpeg" alt="User Profile"></a>
                <a href="https://challenge-4-user-profile.vercel.app/" target="_blank">User Profile</a>
            </div>
            <div class="desafios">
                <a href="https://challenge-5-pricing-card.vercel.app/" target="_blank"><img
                        src="./assets/pricing-card.jpeg" alt="Pricing Card"></a>
                <a href="https://challenge-5-pricing-card.vercel.app/" target="_blank">Pricing Card</a>
            </div>
            <div class="desafios">
                <a href="https://challenge-7-testimonials-flex-section.vercel.app/" target="_blank"><img
                        src="./assets/testimonials.jpeg" alt="Testimonials-Flex Section"></a>
                <a href="https://challenge-7-testimonials-flex-section.vercel.app/"
                    target="_blank">Testimonials-Flex Section</a>
            </div>
        </div>
    </details>
    <hr>
</section>
