<header class="cabeza">
    <h1>&lt;/Nicolás&gt;</h1>

    <div class="main-header">
        <nav id="nav" class="main-nav">
            <div class="nav-links">
                <a class="link-item" href="#inicio">Inicio</a>
                <a class="link-item" href="#acercaDeMi">Acerca de mi</a>
                <a class="link-item" href="#portafolio">Portafolio</a>
                <a class="link-item" href="#contacto">Contacto</a>
            </div>
        </nav>
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="desktop">
        <a href="#inicio" class="link">Inicio</a>
        <a class="link" href="#acercaDeMi">Acerca de mi</a>
        <a class="link" href="#portafolio">Portafolio</a>
        <a class="link" href="#contacto">Contacto</a>
    </div>
</header>
