.habilidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.habilidades .tecnologias {
  margin: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.habilidades .tecnologias img {
  width: 80px;
  margin: 5px 10px 0;
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
  cursor: pointer;
}

.habilidades .tecnologias img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
