<div class="habilidades">
    <div class="wave">
        <span style="--item:1">H</span>
        <span style="--item:2">A</span>
        <span style="--item:3">B</span>
        <span style="--item:4">I</span>
        <span style="--item:5">L</span>
        <span style="--item:6">I</span>
        <span style="--item:7">D</span>
        <span style="--item:8">A</span>
        <span style="--item:9">D</span>
        <span style="--item:10">E</span>
        <span style="--item:11">S</span>
    </div>
    <div class="tecnologias">
        <img src="./assets/HTML.png" alt="HTML">
        <img src="./assets/CSS.png" alt="CSS">
        <img src="./assets/JS.png" alt="JavaScript">
        <img src="./assets/SASS.png" alt="SASS">
        <img src="./assets/BOOTSTRAP.png" alt="Bootstrap">
    </div>
</div>

<hr>
