<section class="contacto" id="contacto">
    <div class="wave">
        <span style="--item:1">C</span>
        <span style="--item:2">O</span>
        <span style="--item:3">N</span>
        <span style="--item:4">T</span>
        <span style="--item:5">A</span>
        <span style="--item:6">C</span>
        <span style="--item:7">T</span>
        <span style="--item:8">O</span>
    </div>
    <form action="" method="get">
        <div class="form-control">
            <input type="text" name="name" id="name" maxlength="25" required>
            <label for="name">
                <span style="transition-delay:0ms">N</span>
                <span style="transition-delay:50ms">o</span>
                <span style="transition-delay:100ms">m</span>
                <span style="transition-delay:150ms">b</span>
                <span style="transition-delay:200ms">r</span>
                <span style="transition-delay:250ms">e</span>
                <span style="transition-delay:300ms">:</span>
            </label>
        </div>

        <div class="form-control">
            <input type="email" name="email" id="email" required>
            <label for="email">
                <span style="transition-delay:0ms">E</span>
                <span style="transition-delay:50ms">m</span>
                <span style="transition-delay:100ms">a</span>
                <span style="transition-delay:150ms">i</span>
                <span style="transition-delay:200ms">l</span>
                <span style="transition-delay:250ms">:</span>
            </label>
        </div>

        <div class="form-control">
            <input type="text" name="asunto" id="asunto" maxlength="25" required>
            <label for="subject">
                <span style="transition-delay:0ms">A</span>
                <span style="transition-delay:50ms">s</span>
                <span style="transition-delay:100ms">u</span>
                <span style="transition-delay:150ms">n</span>
                <span style="transition-delay:200ms">t</span>
                <span style="transition-delay:250ms">o</span>
                <span style="transition-delay:300ms">:</span>
            </label>
        </div>
        <label for="mensaje">
            <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Mensaje:"
                required></textarea>
        </label>

        <button>
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                        </path>
                    </svg>
                </div>
            </div>
            <span>Enviar</span>
        </button>

    </form>
</section>

<footer>
    <div class="redes">
        <a href="https://github.com/ramiireznicolas" target="_blank"><img src="./assets/github-negro.png"
                alt="GitHub"></a>
        <a href="https://api.whatsapp.com/send?phone=3415089149&text=Hola.." target="_blank"><img
                src="./assets/whatsapp-negro2.png" alt="Whatsapp"></a>
        <a href="https://www.linkedin.com/in/nicolas-ramirez-77825821a/" target="_blank"><img
                src="./assets/linkedin-negro.png" alt="Linkedin"></a>
        <a href="https://www.instagram.com/ramiireznicolas/" target="_blank"><img
                src="./assets/instagram-negro.png" alt="Instagram"></a>
    </div>
    &copy; Nicolás Ramirez
</footer>