@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fadeTop {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

body {
  background-color: #1c1c1c;
  color: #ffffe4;
  text-align: center;
}

.wave {
  -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 22px;
  margin: 20px auto 13px;
}

.wave span {
  display: inline-block;
  -webkit-animation: wave-anim 1s infinite;
  animation: wave-anim 1s infinite;
  -webkit-animation-delay: calc(0.1s * var(--item));
  animation-delay: calc(0.1s * var(--item));
}

@-webkit-keyframes wave-anim {
  0%,
  40%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

@keyframes wave-anim {
  0%,
  40%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
